@charset "utf-8";
@import url(reset.css);
@import url(modal.css);
@font-face{font-family:nanum;
		   src:url(../font/NanumBarunGothic.ttf);
		   src:url(../font/NanumBarunGothic.eot);}

*{margin:0;padding:0;box-sizing:border-box;list-style:none;}
body{font-size:14px;font-family:nanum;}
a{text-decoration:none;}

body > header
{position:relative;max-width:1400px; width: 100%; height: 120px;margin:0 auto;
background:#222;}

.header_wrap
{position:relative;margin:0 auto;width:100%; height:120px;
display: flex; justify-content: center;}

#inner
{position:absolute;display:block;width:76%;height:120px;
}
		
/* 로고 */
h1{position:relative;left:0;top:68px;}
	
	/* 탑메뉴 */
	.topMenu{position:absolute;right:-150px;top:12px;width: 50%;display: flex;
	flex-wrap: wrap;}
	.topMenu > dd{width: 80px;}
	.topMenu > dd a{color:#999;font-size:12px; width: 80px;}
	.topMenu > dd:first-child, .topMenu > dd:nth-child(2), .topMenu > dd:nth-child(3),
	.topMenu > dd:nth-child(4), .topMenu > dd:nth-child(5), .topMenu > dd:nth-child(6){padding-left:15px;}
	
	.topMenu > dd a:hover, .topMenu > dd a:focus{color:#fff;}
	
	.topMenu > dd:first-child
	{
		position: relative; left: 5px;
	}
	.topMenu > dd:first-child, .topMenu > dd:nth-child(2)
	{position: relative;top: 0.5px;}
	.topMenu > dd:nth-of-type(5){position:relative;top:-3px;left:-8px;}
	.topMenu > dd:nth-of-type(5) > a{display:inline-block;width:84px;padding-left:4px;padding-bottom:5px;height:20px;line-height:20px;}
	.topMenu > dd > ul{position:absolute;display:none;width:90px;right:0;top:20px;
					   border:1px solid #999;border-radius:5px;box-sizing:border-box;border-top:none;}
	.topMenu > dd > ul li{background-color: #222; padding:0px 7px;}
	.topMenu > dd > ul li:last-child{padding-bottom:7px; border-radius:0px 0px 5px 5px;}
	.topMenu > dd > ul li a{font-size:11px;}
		
	
	.topMenu > dd:last-child > a{display:block;padding-left: 15px;border-radius:3px;line-height:24px;background:#2d2d2d;
								position: relative; top: -4px; right: 10px;}
	
	/* 주메뉴1 */
	#nav > .navi
	{position:absolute;top:73px;left:160px;
	 display: flex; width: 80%;}
	#nav > .navi > li
	{width: calc(100%/6);}
	#nav > .navi > li:hover
	{width: calc(100%/6);}	
	#nav > .navi > li:nth-child(5),#nav > .navi > li:nth-child(6)
	{
	position: relative; left: -30px;
	}
	#nav > ul > li a
	{color:#fff;font-weight:600;	  
	transition:color 0.5s ease 0s; width: 83px;font-size: 14px;}
	#nav > .navi > li a:hover
	{color:#f4790b; width: 83px;}
	#nav > ul > li > .submenu
	{display:none;position:relative;left:0;padding:0;
	background-color: rgb(67, 71, 71);border: 1px solid rgb(145, 155, 155);opacity: 0.9;
	width: 110px;z-index: 999;}
	#nav > ul > li > .submenu > li
	{line-height:30px;}
	#nav > ul > li > .submenu > li > a
	{font-size:11px; line-height: 40px;
     text-align: center; text-decoration: none;
     color: rgb(255, 255, 255);
    }
	.Mobile_wrap
	{display: none;}
	
	#main
	{display: block; max-width: 1400px; width: 100%;margin: 0 auto;}
	#main > .swiper_wrap
	{width: 100%; margin: 0 auto;}
	#main > .swiper_wrap > .swiper.pics
	{width: 100%;}	
	#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide
	{
		width: 100%; height: 400px;

	}
	#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > img
	{width: 100%;}	
	#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > .wordgroup
	{
		position: relative;		
		display: block;
		width: 500px;
		top: -360px;
		left: 80px;
		font-size: 30px;
		line-height: 60px;
		color: rgb(59, 53, 51);
		font-weight: bold;		
	}
	#word2 > li:nth-child(2)
	{color: #000000;}
	#word2 > li:nth-child(3)
	{font-size: 24px; color: #000000;}
	#container
	{display: flex; max-width: 1400px; width: 100%; margin: 40px auto;
	justify-content: center; align-items: center;
	flex-direction: column;}
	#container > .content1
	{display: flex; flex-wrap: wrap;justify-content: center;width:100%;height: 180px;position: relative;}
	#container > .content1 > ul
	{margin: 0px 30px;text-align: center;font-size: 13px;
	font-weight: bold;	width: 180px;	line-height: 20px;
	}

	#container > .content2
	{display: flex; flex-wrap: wrap; flex-direction: row;
	margin: 100px auto; width: 100%; height: 900px;justify-content: center;}
	#container > .content2 > ul
	{display: flex;width: calc(100%/4);height:480px; justify-content: center; margin: 20px 20px;}
	#container > .content2 > ul > a
	{width: calc(90%); height: 100%;}
	#container > .content2 > ul > a img
	{
	width: 100%; height: 100%;
		border: 1px solid #ba9090;
		box-shadow: #3743cf;
		
	}
	.content3{max-width: 1400px;width: 100%; align-items: center;margin:0 auto;
			position: relative; top: 100px;}
	.content3 > h2{font-size:35px;font-weight:bold;text-align:center; margin-top: 30px;}
	.content3 > section{width:96%;margin:0 auto;}
	.content3 > section > div{width:88%;margin-top:100px;margin-left:10%;}
	.content3 > section > div > ul > li{text-align:center;position:relative;display:inline-block;overflow:hidden;width:175px;height:80px;}
    .content3 > section > div > ul > li:hover{overflow:visible;}
    .content3 > section > div > ul > li > a{display:block;width:175px;height:80px;box-sizing:border-box;overflow:hidden;padding-top:20px;border:1px solid #fff;}
    
    .content3 > section > div > ul > li:hover > a{border:1px solid #ee6900;box-sizing:border-box;width:175px;height:80px;}

    .content3 > section > div > ul > li p{position:absolute;top:0;left:50%;width:175px;height:80px;text-align:center;padding-top:20px;box-sizing:border-box;
                                          opacity:0;background:#f2f2f2;z-index:2;transition:all 0.5s linear 0s;}
    .content3 > section > div > ul > li:hover p{left:100%;opacity:1;}
    .content3 > section > div > ul > li > p > span{font-weight:bold;}
    .content3 > section > div > ul > li:nth-of-type(3n) p{right:50%;position:absolute;top:0;left:-50%;width:175px;height:80px;text-align:center;
                                                          padding-top:20px;box-sizing:border-box;
                                                          opacity:0;background:#f2f2f2;z-index:2;transition:all 0.5s linear 0s;}
    .content3 > section > div > ul > li:nth-of-type(3n):hover p{left:-100%;opacity:1;}
	
		

	body > footer{text-align:center;background:#222;
		max-width: 1400px; width: 100%;
	height: 150px; margin:0 auto; position: relative;}
    .foot_inner{width:100%;margin:0 auto; position: absolute; top: 8px;}
    .foot_inner > div > p{line-height:30px;padding-bottom:0px;}
    .foot_inner > div > address{line-height:20px;}
    .foot_inner > div > address > span{padding-top:10px; color: white;}
    .foot_inner > div > address > p{padding-top:5px; color: white;}

	@media all and (max-width:1270px)
		{
			.topMenu > dd a{font-size: 10px;}
			.topMenu > dd:first-child, .topMenu > dd:nth-child(2), .topMenu > dd:nth-child(3),
			.topMenu > dd:nth-child(4), .topMenu > dd:nth-child(5), .topMenu > dd:nth-child(6){padding-left:5px;}
			.Mobile_wrap{display: none;}	
			#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > .wordgroup
			{		
				top: -300px;		
			}
		
		}


	@media all and (max-width:960px)
	{
		.Mobile_wrap{display: none;}	
		#container > .content1
		{position: relative; top: -100px;}
		#container > .content1 > ul
		{margin: 0px 20px;font-size: 13px;
		width: 150px;	line-height: 20px;
		}

	}
	@media all and (max-width:768px) {

		#inner > .topMenu{display: none;}
		#nav{display: none;}
		#inner{position: relative;}
		#inner > h1 {
			top: 50%;
			left: 51%;
			transform: translate(-50%,-50%);
			position: absolute;			
		}
		#inner > h1 > a > img {
			width: 140px;
			height: 40px;
		}
		div.Mobile_wrap{display:none;position:fixed;top:-53px;width:100%;height:1000px;left:0;z-index:50;background:rgba(0, 0, 0, 0.6);}

		.m_menu{content:"";display:block;width:40px;height:28px;position:absolute;top:50px;left:30px;background:url(../images/btn_gnb_open.png) no-repeat 0 0;}
		div.Mobile_wrap > div{position:fixed;left:0;top:0;z-index:100;width:280px;height:100%;background:#fff;font-size:16px;overflow:scroll;}
		div.Mobile_wrap > div > h2{background:#222;color:#fff;font-weight:bold;font-size:24px;line-height:85px;padding-left:20px;box-sizing:border-box;}
		div.Mobile_wrap > div > ul > li a{display:block;color:#555;}
		
		div.Mobile_wrap > div > ul > li:first-child > a,
		div.Mobile_wrap > div > ul > li:nth-child(2) > a,
		div.Mobile_wrap > div > ul > li:nth-child(3) > a,
		div.Mobile_wrap > div > ul > li:nth-child(4) > a{line-height:44px;background:#eaeaea;padding-left:25px;}
		div.Mobile_wrap > div > ul > li:nth-child(4) > a{border-bottom:3px dashed #ddd;}
		
		div.Mobile_wrap > div > ul > li > ul{
			display:none;
		}
		div.Mobile_wrap > div > ul > li > ul.on_M{display:block;}
		
		div.Mobile_wrap > div > ul > li > a{position:relative;}
		div.Mobile_wrap > div > ul > li:nth-child(5) > a{position:relative;line-height:44px;border-bottom:3px dashed #ddd;padding-left:25px;background:#eaeaea;}
		
		div.Mobile_wrap > div > ul > li > a > span{
			position:absolute;content:"";display:inline-block;width:13px;height:13px;top:20px;right:40px;
			background:url(../images/ico_util_arrow.png) no-repeat 0 0;
			}
		div.Mobile_wrap > div > ul > li.white_nav > a > span{top:25px;}
		
		div.Mobile_wrap > div > ul > li:nth-child(5) > ul > li > a{padding-left:30px;font-size:16px;line-height:42px;background:#dadada;}
		div.Mobile_wrap > div > ul > li:nth-child(6) > a{padding-left:25px;background:#eaeaea;line-height:60px;}
		
		div.Mobile_wrap > div > ul > li.white_nav > a{box-sizing:border-box;border-bottom:2px solid #eaeaea;padding-left:25px;line-height:55px;background:#fff;}
		div.Mobile_wrap > div > ul > li.white_nav > a:hover{color:#f4790b;}
		div.Mobile_wrap > div > ul > li.white_nav > ul > li > a{line-height:44px;padding-left:30px;font-size:16px;background:#eaeaea;}
		div.Mobile_wrap > div > ul > li.white_nav > ul > li > a:hover{color:#f4790b;text-decoration:underline;}
		
		.menu_close{cursor:pointer;position:absolute;left:285px;top:65px;width:37px;height:37px;text-indent:-9999px;background:url(../images/btn_close.png) no-repeat -20px 0;}
	
		#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > .wordgroup
		{font-size: 18px; line-height: 40px; top: -240px; left:20px}
		#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > img
		{height: 250px;}	
		#word2 > li:nth-child(3)
		{font-size: 12px; color: #000000;}
		#container > .content1
		{
			position: relative;top: -150px;
		}
		#container > .content1 > ul{
			width: 230px;

		}
		#container > .content2
		{position: relative; top: 0px;}
		#container > .content2 > ul
		{
			width: 250px; height: 280px;
		}
		#container > .content3{display: none;}
		
		footer
		{
			position: relative;top: 0px;
		}	
	}
	@media all and (max-width:586px)
	{
		#container > .content1 > ul{
			width: 180px;
		}
		#container > .content2 > ul
		{
			width: 200px; height: 260px;
		}
		footer
		{
			position: relative;top: -90px;
		}	
	}

	@media all and (max-width:503px)
	{
		#container > .content2 > ul
		{
			width: 180px; height: 350px;
		}
		footer
		{
			position: relative;top: 150px;
		}	

	}
	@media all and (max-width:447px)
	{
		#container > .content1 > ul{
			width: 140px;
		}		
		#container > .content2 > ul
		{
			width: 150px; height: 220px; margin: 0px 10px;
		}
		body > footer{text-align:center;background:#222;
			width: 100%; position: relative;top: -180px; height: 80px;}
		footer > .foot_inner > div > address > span 
		{display: none;}
		#copyright
		{display: block; position: relative;
		 top: 0px;}
	}
	@media all and (max-width:385px)
	{
		#container > .content1 > ul{
			width: 120px;
		}		
		#container > .content2 > ul
		{
			width: 120px; height: 200px;
		}
	}

	@media all and (max-width:319px)
	{
		#inner > h1 > a > img 
		{	width: 100px;height: 30px;}
		#main > .swiper_wrap
		{width: 600px; height: 300px; position: relative; right: 300px}	
		#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide:first-child > img,
		#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide:nth-child(2) > img 
		{
			background-size: cover; background-position: center center;
		}
		#main > .swiper_wrap > .swiper.pics > .swiper-wrapper > .swiper-slide > .wordgroup
		{display: none;}
		#container > .content1 
		{
			position: relative; top: -90px;
		}
		#container > .content1 > ul:nth-child(1) > a img,
		#container > .content1 > ul:nth-child(3) > a img,
		#container > .content1 > ul:nth-child(4) > a img
		{
			position: relative;
			left: -15px;
		}
		#container > .content2
		{
			top: 40px;
		}
		#container > .content2 > ul
		{width: 200px; height: 200px;position: relative;top: 370px; margin: 20px 0px;}
		body > footer
		{
			position: relative;top: 820px;
		}	
		#copyright 
		{
			display: block;
		}
	}